

* {
  font-family: 'Oswald', sans-serif;
}

body {
  font-size: 20px;
  background-color: black;
}

#main-body {
  width: 80%;
  height: 500px;
  border: 1px black solid;
  margin: 3% auto;
  background-image: url(../images/adventuretimebg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*--Hangman--*/
#main-hangman {
  position: relative;
  top: 6%;
}

.images {
  height: 400px;
  position: relative;
  left: 15%;
}

#image1, #image2, #image3, #image4, #image5, #image6, #finn,
#jake, #princess, #iceking, #lumpy, #lemongrab, #beemo, #rainicorn {
  display: none;
}

#jake, #princess, #lumpy, #beemo {
  width: 200px;
  height: auto;
}

#finn, #lemongrab, #rainicorn, #iceking {
  height: 250px;
  width: auto;
  }

/*--- Player Area ---*/

#player-bar {
position: absolute;
top:10%;
right: 30%;
}

button {
  border-radius: 5px;
}

button:disabled {
  background-color: grey;
  border-radius: 5px;
  color: white;
}

#play-button {
  background-color: #4CAF50;
  border: white 1px solid;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  height: 40px;
  width: 100px;
  position: relative;
  top: 20px;
  display: inline-block;
}

#alert-messages, #lives {
  font-size: 30px;
  position: relative;
  top: 25px;
}

#alert-messages {
  color: white;
}

.alpha-buttons {
  background-color: white;
  border: 1px solid black;
  height: 30px;
  width: 40px;
  position: relative;
  top: 40px;
}

#word-box {
  font-size: 40px;
  letter-spacing: 5px;
  position: relative;
  top: 45px;
  left: 15px;
}

#loser-images {
  position: relative;
  top: 50px;
  left: 15px;
}
