

* {
/*  font-family: 'Rye', cursive;*/
  font-family: 'Oswald', sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr 1fr;
  border: 2px black solid;
  font-size: 20px;
  position: absolute;
  top: 10px;
}

/*-- Top Header --*/

.title-area {
  grid-row: 1;
  grid-column: 1;
  padding: 3px;
  text-align: center;
}

.message-area {
  grid-row: 1;
  grid-column: 2;
  margin: 0px auto;
}

.text-header {
  color: black;
  font-size: 23px;
}

#lives {
  color: green;
}

/*--Hangman--*/

#main-hangman {
  grid-row: 2;
  grid-column: 1;
  border-top: 1px solid black;
}

.hangmanimages {
  width: 20%;
  display: block;
  margin: 5px auto;
}

/*--- Player Area ---*/

#player-bar {
  grid-row: 2;
  grid-column: 2;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

button {
  position: relative;
  top: 30px;
  left: 10px;
  border-radius: 5px;
  margin: 5px auto;
}

button:disabled {
  background-color: grey;
  border-radius: 5px;
  color: white;
}

#play-button {
  background-color: #4CAF50;
  border: white 1px solid;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  height: 40px;
  width: 100px;
}

.alpha-buttons {
  background-color: white;
  border: 1px solid black;
  height: 30px;
  width: 40px;
}

#word-box {
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
  margin: 25px 0px;
}

/*-- Footer --*/

footer {
  grid-row: 3;
  grid-column: 1 / span 2;
  border-top: 1px solid black;
}
